.chip {
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42pt;
    margin-bottom: 4%;
    color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #01579b;
    font-size: 76pt;
    font-weight: bold;
}

h5 {
    margin-bottom: 3%;
}
